.dart_tool
.buildlog
.idea
.vscode
.git
.gitignore
android/app/debug
android/app/profile
android/app/release
build
coverage
ios/Pods
ios/Runner.xcworkspace
ios/Flutter/Flutter.framework
macos/Flutter/ephemeral
windows/flutter/ephemeral
linux/flutter/ephemeral
web/.dart_tool
*.iml
*.log
