#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"
#include? "Generated.xcconfig"

GOOGLE_IOS_CLIENT_ID=1089118476895-l7tpufe1lpd9muof13gtc0upnh58j4nr.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.1089118476895-l7tpufe1lpd9muof13gtc0upnh58j4nr

